/usr/lib32/libKF5ConfigCore.so.5 -> /usr/lib32/libKF5ConfigCore.so.5.116.0
/usr/lib32/libKF5ConfigCore.so.5.116.0
/usr/lib32/libKF5ConfigGui.so.5 -> /usr/lib32/libKF5ConfigGui.so.5.116.0
/usr/lib32/libKF5ConfigGui.so.5.116.0
/usr/lib32/libKF5ConfigQml.so.5 -> /usr/lib32/libKF5ConfigQml.so.5.116.0
/usr/lib32/libKF5ConfigQml.so.5.116.0
